.header {
    width: 100%;
    height: 84px;
    padding: 30px 0;
    position: absolute;
    top: 0;
    transition: height .15s;
    vertical-align: middle;
    text-align: center;
    z-index: 6;
}

.header_contents {
    width: 100%;
    max-width: 1280px;
    display: inline-block;
    vertical-align: middle;
    line-height: 84px;
}

#header_logo {
    float: left;
    padding: 0 0 0 50px;
    margin: 15px 0 0 0;
}

.wufoo input.btTxt {
    width: 300px;
    height: 50px;
    margin: 20px 0 15px 0;
    background: linear-gradient(to bottom left, #2B84EC, #0E6CD8);
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Lato;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 6px 16px -4px #bdbdbd;
    transition: background 0.3s, margin 0.3s;
    border: 0px;
    outline: none;
}

.wufoo input.btTxt:hover {
    background: linear-gradient(to bottom left, #0E6CD8, #0E6CD8);
    margin: 19px 0 16px 0;
    cursor: pointer;
}

.wufoo .info {
    border: 0;
}

#errorLi, .error-container {
    display: none;
}

.wufoo li.focused {
    background-color: #fff;
}

.wufoo input.text {
    display: inline-block;
    width: 300px;
    outline: none;
}

.form_container {
    margin: 135px 75px 0 75px;
}

.wufoo .info {
    padding: 0 0 35px 0;
}

select.medium {
    width: 300px;
}

form span.req {
    display: none !important;
}

li.total {
    margin: -40px 0 0 0;
}

.wufoo label.desc {
    margin: 0 0 15px 0;
}

form li.buttons {
    text-align: center;
}


@media only screen and (max-width: 650px) {
    .form_container {
        margin: 135px 0 0 0;
    }
    
    .wufoo input.btTxt {
        width: 100%;
    }
}